/* Footer Styles
================================================== */
/* Footer
================================================== */
footer {
	position: relative;
	padding: 40px 0;
	color: white;
	background: $primary-blue;
	z-index: 99;
	
	.container {
		border-bottom: 2px solid $brand-black;
		padding-bottom: 20px;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	li a {
		color: white;
	}
	
}

.footer-title {
	font-size: 20px;
	margin-top: -2px;
	margin-bottom: 20px;
}

.footer-social {
}

.footer-social a {
	background: #050505;
	width: 42px;
	height: 44px;
	line-height: 42px;
	margin-right: 10px;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 8px;
	
}
	
.footer-social a.fb {
	background: $facebook;
	
	&:hover {
		background: darken($facebook,7%);
	}
	
}

.footer-social a.gp {
	background: $gplus;
	
	&:hover {
		background: darken($gplus,7%);
	}
	
}

.footer-social a.tw {
	background: $twitter;
	
	&:hover {
		background: darken($twitter,7%);
	}
}

.footer-social a.yt {
	background: $youtube;
	
	&:hover {
		background: darken($youtube,7%);
	}
	
}

.border-left {
	border-left: 2px solid $brand-black;
}

.footer-social, .footer-address, .footer-ph {
	padding-top: 60px;
}

.footer-address, .footer-ph {
	padding-left: 0;
}

.footer-ph {
	
	a {
		color: white;
	}

}


/* Copyright Section, .copyright, below footer
================================================== */
.copyright {
	position: relative;
	padding: 60px 0 0 0; //remove bottom padding
	color: white;
	background: $primary-blue;
	z-index: 9;
}

#top {
    text-align: center;
    background: transparent;
    color: white;
    padding-top: 20px;
    opacity: 0;
    transition: all .5s ease-in-out;
    
    &.active {
        opacity: 1;
        transition: all .5s ease-in-out;
    }
        
    a i {
	    background: $secondary-blue;
	    color: white;
	    padding: 5px 15px;
    }
    
}