/* Footer Styles
================================================== */
/* Footer
================================================== */
footer {
	position: relative;
	padding: 40px 0;
	color: white;
	font-size: 1rem;
	background: $primary-blue;
	z-index: 99;
	
	.container {
		border-bottom: 2px solid darken($primary-blue, 7%);
		padding-bottom: 20px;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	li a {
		display: block;
		color: white;
		font-size: 1em;
		border-radius: 3px;
		margin: 0 -6px;
		padding: 3px 6px;
		line-height: 1.1;
		margin-bottom: 0.2em;
		
		&:hover {
			color: white;
			background-color: $secondary-blue;
		}
	}
	
}

.footer-title {
	margin-top: -4px; //even with border-left top
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 1.3em;
	
}

.footer-social {
	padding-top: 25px;
	clear: both;
}

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 25 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

.footer-social a {
	width: 44px;
	height: 46px;
	margin-right: 10px;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 8px;
	overflow: hidden;
	
	&.fb {
		background: $facebook;
		text-shadow: makelongshadow(darken($facebook, 10%));

	}
	&.gp {
		background: $gplus;
		text-shadow: makelongshadow(darken($gplus, 10%));

	}
	&.tw {
		background: $twitter;
		text-shadow: makelongshadow(darken($twitter, 10%));

	}
	&.yt {
		background: $youtube;
		text-shadow: makelongshadow(darken($youtube, 10%));

	}
	
	&:hover {
		animation: bounceY 0.18s ease-in-out;
		box-shadow: 0px 0px 9px rgba(black, 0.4);
	}
}

@keyframes bounceY {
	0%, 100% { transform: translateY(0) }
	50% 	 { transform: translateY(-4px) }
}

.social-2 {
	text-align: center;
	margin: 20px 0;
}

.border-left {
	border-left: 2px solid darken($primary-blue, 7%);
}

.footer-right {

	> .row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		
		> div {
			flex: 1 1 150px;
			padding: 0 15px;
			margin-bottom: 15px;
			
			+ div {
				border-left: 2px solid darken($primary-blue, 7%);
			}
		}
		&:before, &:after {
			display: none;
		}
		
	}
}

.footer-address, .footer-ph {
	margin-top: 15px;
	padding: 0;
}

address {
	margin: 0;
}

.address {
	display: inline-block;
	color: white;
	padding: 5px;
	margin: 0 -5px;
	border-radius: 3px;
	
	&:hover {
		color: white;
		background-color: $secondary-blue;
	}
}

.footer-ph {
	padding: 5px 0 0 15px;
		
	a {
		color: white;
		font-weight: 700;
		display: block;
	}
}

/* Copyright Section, .copyright, below footer
================================================== */
.copyright {
	position: relative;
	padding: 0 0 45px 0; //remove bottom padding
	color: white;
	background: $primary-blue;
	z-index: 9;
		
	p {
		font-size: 0.825em;
	}
	
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 15px;
		
		div, a {
			margin: 0 15px 15px 15px;
		}
		
		&:before, &:after {
			display: none;
		}
	}
}

#top {
	position: absolute;
	bottom: 15px;
	right: 15px;
    opacity: 0;
    transition: opacity .5s ease-in-out .3s;
    
    &.active {
        opacity: 1;
    }
        
    a {
	    display: block;
	    background: $secondary-blue;
	    color: white;
	    line-height: .7;
	    padding: 10px 13px;
	    text-align: center;
	    
	    &:before {
		    content: "\f106";
		    font-family: FontAwesome;
		    font-size: 3em;
		    display: block;
		    line-height: 0;
			margin-bottom: 18px;
			margin-top: 10px;
		    
	    }
    }
    
}