/* Global styles
================================================== */
html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: $brand-black;
	background: white;
}

.body-inner{
	position: relative;
	overflow: hidden;
}
a {
	transition: all 350ms;
}
a:link,
a:visited{
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: $brand-black;
}
a:focus{
	outline: 0;
}

/* Typography
================================================== */

body, p{
	font-family: $font-body;
	font-weight: 400; 
	font-size: 14px;
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

h1{
    font-size: 36px;
    line-height: 48px;
}

h2{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

h5{
    font-size: 14px;
    line-height: 24px;
}

.page-header {
	font-size: 44px;
	color: $secondary-blue;
	border: none;
}

/* Content */
section{
	padding: 60px 0;
	position: relative;
}
.center {
	text-align: center;
}
.no-padding{
	padding: 0;
}
.top-gap {
	position: relative;
	margin-top: 130px;
	padding: 20px 0;
}
.gap-80 {
	clear: both;
	height: 80px;
}
.gap-40 {
	clear: both;
	height: 40px;
}
.gap-30 {
	clear: both;
	height: 30px;
}
.gap-20 {
	clear: both;
	height: 20px;
}
img.pull-left, .pull-left > img {
	margin-right: 15px !important;
}

img.pull-right, .pull-right > img {
	margin-left: 15px !important;
}
.img-thumbnail {
	padding: 5px;
	background: #f2f2f2;
	margin: 5px 15px 5px 0;
	border: 1px solid #e7e7e7;
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 6px 15px;
	text-transform: uppercase;
	border: 0;
	text-shadow: none;
	box-shadow: none;
	background-image: none;
}

/* highlight green button */
.btn.btn-default, .btn.btn-primary, .btn.btn-green {
	padding: 6px 15px;
	background: $brand-green;
	color: white;
	
	&:hover {
		color: darken (white,7%);
		background: darken($brand-green,7%);
	}
}

/* dark grey button */
.btn.btn-dark {
	background: darken($brand-black,3%);
	color: white;
	
	&:hover {
		color: darken (white,7%);
		background: darken($brand-black,10%);
	}
}

/* medium grey button */
.btn.btn-grey {
	background: darken($brand-grey,3%);
	color: white;
	
	&:hover {
		color: darken (white,7%);
		background: darken($brand-grey,10%);
	}
}

/* secondary blue button */
.btn.btn-blue {
	background: darken($secondary-blue,3%);
	color: white;
	
	&:hover {
		color: darken (white,7%);
		background: darken($secondary-blue,10%);
	}
}

.square {
	border-radius: 0;
}

.rounded {
	border-radius: 5px;
}
