/* Global styles
================================================== */
html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: $brand-black;
	background: white;
	position: relative;
	max-width: 1600px;
	min-width: 320px;
}

.body-inner{
	position: relative;
	overflow: hidden;
}
a {
	transition: all 350ms;
}
a:link,
a:visited{
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: $brand-black;
}
a:focus{
	outline: 0;
}
img {
	width: auto;
}

/* Typography
================================================== */
/* Body */
body, p {
	font-family: $font-heading;
	font-size: 16px;
	font-weight: 300; 
	line-height: 1.6em;
}
p.serif {
	font-family: $font-body;
}
p.large {
	font-size: 20px;
}
	

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}
h1{
    font-size: 36px;
    line-height: 48px;
}
h2{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
h5{
    font-size: 16px;
    line-height: 26px;
}
h6{
    font-size: 14px;
    line-height: 24px;
}
.page-header {
	font-size: 44px;
	font-weight: 100;
	color: $secondary-blue;
	border: none;
}
.sub-head-lg {
	font-size: 30px;
	font-weight: 300;
	color: $secondary-blue;
}
.sub-head-sm {
	font-size: 24px;
	font-weight: 500;
	color: $secondary-blue;
}


/* Sizings & Shapes */
.square {
	border-radius: 0;
}
.circle {
	border-radius: 50%;
}
.rounded {
	border-radius: 5px;
}


/* Text Color Classes: use only for color-specific elements (ex- blockquote.green) */
.primary-blue {
	color: $primary-blue;
}
.secondary-blue {
	color: $primary-blue;
}
.green {
	color: $brand-green;
}
.black {
	color: $brand-black;
}
.grey {
	color: $brand-grey;
}
.white {
	color: $brand-white;
}


/* Content */
section{
	padding: 25px 0;
	position: relative;
	z-index: 1;
}
.full-width { //use as a container class to remove max-width & padding
	max-width: 100%!important;
	padding: 0;
}
.read-more {
	color: $brand-green;
}
.text-center {
	text-align: center;
}
.center {
	display: block;
	margin: 0 auto;
}
.no-padding{
	padding: 0;
}
.pad-20 {
	padding: 20px;
}
.pad-40 {
	padding: 40px;
}
.pad-60 {
	padding: 60px;
}
.top-gap {
	position: relative;
	margin-top: 130px;
}
.gap-80 {
	clear: both;
	height: 80px;
}
.gap-40 {
	clear: both;
	height: 40px;
}
.gap-30 {
	clear: both;
	height: 30px;
}
.gap-20 {
	clear: both;
	height: 20px;
}
img.pull-left, .pull-left > img {
	margin-right: 15px !important;
}

img.pull-right, .pull-right > img {
	margin-left: 15px !important;
}
.img-thumbnail {
	padding: 5px;
	background: #f2f2f2;
	margin: 5px 15px 5px 0;
	border: 1px solid #e7e7e7;
}


/* Buttons */
.btn {
	display: inline-block;
	padding: 5px 15px;
	vertical-align: middle;
	font-family: $font-heading;
	font-weight: 700;
	text-transform: uppercase;
	border: 0;
	text-shadow: none;
	box-shadow: none;
	background-image: none;
}

/* Highlight Green Btn */
.btn.btn-default, .btn.btn-primary, .btn.btn-green {
	background: $brand-green;
	color: white;
	
	&:hover {
		color: darken(white,7%);
		background: darken($brand-green,7%);
	}
}

/* Dark Grey Btn */
.btn.btn-dark {
	background: darken($brand-black,3%);
	color: white;
	
	&:hover {
		color: darken(white,7%);
		background: darken($brand-black,10%);
	}
}

/* Medium Grey Btn */
.btn.btn-grey {
	background: darken($brand-grey,3%);
	color: white;
	
	&:hover {
		color: darken (white,7%);
		color: darken(white,7%);
		background: darken($brand-grey,10%);
	}
}

/* Secondary Blue Btn */
.btn.btn-blue {
	background: darken($secondary-blue,3%);
	color: white;
	
	&:hover {
		color: darken (white,7%);
		background: darken($secondary-blue,10%);
	}
}

.square {
	border-radius: 0;
}

.rounded {
	border-radius: 5px;
}

/* Pull/Blockquote for interior pages */
.pullquote, blockquote {
	font-family: $font-heading;
	font-weight: 300;
}
.opacity-0.opacity-0 {
	opacity: 0;
	pointer-events: none;
	font-style: italic;
}
