/* Header 
================================================== */
header {
	position: fixed;
	top: 0;
    width: 100%;
	z-index: 9999999; 
	transition: all 0.4s ease-in-out;
}

.header-fixed {
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  	
  	.ts-mainnav .container{
		padding-top: 10px;
		padding-bottom: 10px;
	}

}

/* Top-bar
================================================== */
#top-bar {
	padding: 0;
	background: $brand-black;
	color: white;
	font-family: $font-heading;
	
	.container {
		max-width: 1200px; //remove default container width, per design
	}
	
}

.push-down {
	margin-top: 5px;
}

.text-sizing{
	display: inline-block;
	
	i.sm {
		font-size: 14px;
	}
	
	i.med {
		font-size: 16px;
	}
	
	i.lg {
		font-size: 18px;
	}
	
}

ul.call-us{
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		float: left;
		font-weight: 700;	
	}
}

.sign-in{
	float: none;
	
	.policy {
	}
	
	.agent {
	}
	
}

/* Navbar: main navigation below top-bar
================================================== */
.pti{
	position: relative;
	z-index: 1;
	background: $primary-blue;
	
	.container {
		padding-top: 20px;
		padding-bottom: 20px;
		transition: padding .6s;
	}
}

.navbar-header{
	z-index: 9999;
}

.navbar-brand{
	padding: 0 15px;
}
.navbar-brand .logo{
	width: 215px;
	height: 50px;
}

.navbar-brand img{
	float: right;
	padding: 0 15px;

}

.navbar{
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}

.navbar-right{
	padding-right: 0;
	
	.dropdown-menu {
		right: auto;
		left: 0;
	}
	
}

.navbar-toggle{
	border-radius: 0;
	margin-right: 5px;
	
	.icon-bar {
		background: white;
	}
	
}

.navbar-nav {
	float: right;
}

.navbar-nav > li > a{
	font-weight: 700;
	color: white;
	padding: 0 15px;
	line-height: 46px;
	font-family: $font-heading;
}

.navbar-nav > li:last-child a{
	padding-right: 0;
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:hover{
	color: darken(white,20%);
}

.navbar-nav > li > a i{
	font-weight: 700;
}

.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus{
	background: transparent;
	border:0;
}

/* Dropdown menu */
.dropdown-menu{
	border: 0;
	border-radius: 0px;
	width: 100%;
	box-shadow: none;
	background: none;
	min-width: 180px;
	
	> ul {
		list-style: none;
		padding: 0 15px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 20px;
		background-color: rgba($primary-blue, 0.9);
		box-shadow: 0 2px .09px rgba(0,0,0,0.15);
	}
}

.dropdown-menu > ul > li > a{
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	padding: 15px;
	color: white;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	
}

.dropdown-menu > ul > li.active > a{

}

.dropdown-menu > ul > li:last-child > a{
	border-bottom: 0;
	
	&:hover, &:focus {
		background: none;
	}
	
}

.nav>li.megamenu{ 
	position: static;
	
	.dropdown-menu {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		padding:20px !important;
		z-index: 1000;
		border-radius: 0;
		top: auto;
		
		ul {
			margin-top: 4px;
			padding: 20px;
		}
		
	}
	
}

/* Get a Quote */
.get-quote {
	margin: 8px 0 0 60px;
	
	button {
		opacity: 1;
		transition: opacity 0.5s 0.1s;
	}
}
/* button styling located in _global.scss */
	


/* Search */
.search {
	
	i {
		color: white;
		margin-top: 2px;
		padding: 5px 10px 5px 20px;
		cursor: pointer;
		transition: transform 0.5s;
		position: relative;
		z-index: 10;
	}
	
	.fa-times {
		padding: 5px 15px 5px 20px;
	}

	form {
		position: absolute;
		top: 3px;
		right: 0;
		width: 216px;
		margin-top: 2px;
		opacity: 1;
		transition: opacity 0.3s;
	}
	
	.search-field {
		-webkit-appearance: none;
		width: 165px;
		padding: 3px 5px;
		text-indent: 5px;
		background-color: lighten($brand-grey, 13%);
		border: 2px solid lighten($brand-grey, 13%);
		transition: all 0.3s;
		
		&:focus {
			background-color: white;
			outline: 0 none;
			border-color: $brand-green;
		}
	}

	.search-submit {
		-webkit-appearance: none;
		padding: 8px 17px 7px 17px;
		margin-top: -2px;
		margin-left: -10px;
	}
}

.search-slide {
	transform: translateX(-208px);
}


