/* Homepage Styles
================================================== */
/* Only when on the Home page
================================================== */
.home {
	&::before{
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		background-image: linear-gradient(to bottom,
										$primary-blue,
										$primary-blue 60%,
										$brand-white 60%,
										$brand-white 100% );
	}
}

/* Section 1: .video
================================================== */
.video {
	margin: 0;
	padding: 0;
	background: $brand-black; //added to see that responsive tweaks are needed
	height: 100vh; // will cause issues on iOS 7 Safari... :(
}
.video-wrapper {	
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	color: black;
	
	video {
		position: fixed;
	    top: 0;
	    bottom: 0;
		left: 0;
		width: 100%;
	    opacity: 1;
	    z-index: -1000;
	    transition: opacity 0.2s;
	}

}

.opacity-0.opacity-0 {
	opacity: 0;
}

/* Section 2: .quote
================================================== */
.quote {
	background: $brand-white;
	
	h1 {
		color: $brand-black;
		font-weight: 100;
	}
	
	h3 {
		color: $secondary-blue;
		font-weight: 300;
	}
	
	form {
		
	}
}

/* Section 3: .about
================================================== */
.about {
	background: white;
	
	h2 {
		color: $secondary-blue;
		font-weight: 100;
	}
}

/* Section 3b: .branch
================================================== */
.branch {
	height: 137px;
	background: transparent;
	font-size: 0; // remove space between inline-block elements
	
	svg {
		display: inline-block;
		margin: auto;
	}
	
	&::before, &::after {
		content: "";
		display: inline-block;
		width: calc( (100% - 740px)/2);
		height: 137px;
		background-color: white;		
	}
}

/* Section 4: .two-panel
================================================== */
.two-panels {
	background: transparent;
	margin-bottom: -25px;
	z-index: 5;
	
	h2 {
		color: $secondary-blue;
		font-weight: 100;
	}
	
	p {
		color: $brand-black;
	}
	
	> div {
		background: white;
		width: 49.85%;
		height: 400px;
		padding: 80px;
		border-bottom-right-radius: 25px;
		
		+ div {
			margin-left: 0.3%;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 25px;
		}
		
		div {
			width: 80%;
		}
	}
	
	.push-right {
		float: right;
	}
	.push-left {
		float: left;
	}
}


/* Section 5: .carousel-1 (1st carousel)
================================================== */
.carousel-1 {
	background: $brand-white;
	
	.carousel-inner {
		margin: -25px 0;
	}

}

.carousel-control {
	
	i {
		display: inline-block;
		text-shadow: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}		
	
	&.left, &.right {
		background: none;

	}
}

/* Section 6: .two-panels-2
================================================== */
.two-panels-2 {
	background: transparent;
	
	h2 {
		color: $secondary-blue;
		font-weight: 100;
	}
	
	> div {
		border-top-right-radius: 25px;
		
		+ div {
			border-top-right-radius: 0;
			border-top-left-radius: 25px;
		}
	}
}
/* Section 7: .customers
================================================== */
.customers {
	background-color: $brand-white;
	color: $brand-grey;
	transition: all 0.3s;
	
	h1 {
		font-weight: 100;
	}
	
	p {
		padding-bottom: 20px;
	}
	
	h4 {
		color: white;
		text-transform: uppercase;
		
		span {
			color: $secondary-blue;
		}
	}
	
}
	
.blue-bg {
	background-color: $primary-blue;
	color: white;
}

/* Section 8: .ceo
================================================== */
.ceo {
	background: $brand-white;
	
	h2 {
		color: darken($primary-blue,7%);
	}
	
	h5 {
		color: $secondary-blue;
	}
	
	p {
		color: $brand-black;
	}
}

/* Section 9: .carousel-2 (2nd carousel)
================================================== */
.carousel-2 {
	background: $brand-white;
	
	/*.full-width {
		max-width: 100%;
		padding: 0;
	}*/

}

/* Section 10: .emergency
================================================== */
.emergency {
	background: $brand-white;
	
	h5 {
		color: darken($primary-blue,7%);
		font-style: italic;
	}
	
	img {
		margin: 20px 0;
	}

}

/* Section 11: .academy
================================================== */
.academy {
	background: white;
	
	.page-title {
		
	}
	
	.news {
		
	}
	
	.news-title {
		color: $secondary-blue;
	}
	
}
