/* Homepage Styles
================================================== */
/* Section 1: #video
================================================== */
#video {
	margin-top: 95px;
	background: $brand-black; //added to see that responsive tweaks are needed
	height: 500px;
}
.video-wrapper {	
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	color: black;
	
	video {
		position: fixed;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: auto;
	    min-width: 100%;
	    min-height: 100%;
	    z-index: -1000;
	}

}

/* Section 2: #quote
================================================== */
#quote {
	background: $brand-white;
	
	h3 {
		color: $brand-black;
		font-weight: 300;
	}
	
	h5 {
		color: $secondary-blue;
		font-weight: 300;
	}
	
	form {
		
	}
}

/* Section 3: #about
================================================== */
#about {
	background: white;
}

/* Section 4: #slideshow
================================================== */
#slideshow {
	background: #444;
}

/* Section 5: #customers
================================================== */
#customers {
	background: #555;
}

/* Section 6: #ceo
================================================== */
#ceo {
	background: #666;
}

/* Section 7: #family
================================================== */
#family {
	background: $brand-white;
	
	/*.full-width {
		max-width: 100%;
		padding: 0;
	}*/
	
}

/* Section 8: #emergency
================================================== */
#emergency {
	background: $brand-white;
	text-align: center;
	
	img {
		border-radius: 50%;
	}

}
.carousel-control {
	background: transparent!important;
	
	i {
		display: inline-block;
		position: absolute;
		top: 50%;
		z-index: 5;
	}
		
}

.carousel-control.left {
	left: 10%;
}
.carousel-control.right {
	right: 10%;
}

/* Section 9: #academy
================================================== */
#academy {
	background: white;
	text-align: center;
	
	.page-title {
		
	}
	
	.news {
		
	}
	
	.news-title {
		color: $secondary-blue;
	}
	
}
