/* Global Interior Page Styles
================================================== */
.interior-page-top {
	margin-top: 115px; 
	background: $secondary-blue;
	padding-bottom: 0;
	
	.row {
		margin: 0;
	}
	
	p {
		color: white;
		padding: 10px 60px;
	}
	
}

.interior-page-bottom {
	margin: 0; 	
}

.page-title {
	color: white;
	padding: 30px 60px;
}

.indention {
	background: white;
	height: 30px;	
}

.left {
	border-top-right-radius: 40px;
}

.right {
	border-top-left-radius: 40px;
}



/* Interior Page Left Sidebar */
.sidebar {
	padding: 15px;
}
#sidebar-wrapper {
	position: relative;
	padding-top: 100px;
    background: $brand-white;
    overflow: hidden; 
    margin-bottom: -99999px; /* always cover height to footer */
    padding-bottom: 99999px; 
}
.sidebar-nav {
	width: 100%;
    padding: 0;
    list-style: none;
    
    li {
		line-height: 40px;  
    }
    
    li a {
	    display: block;
	    text-decoration: none;
	    color: $brand-black;
	    
	    &:hover {
		   text-decoration: none;
		   color: darken($brand-black,7%);
		   background: $primary-blue;
	    }
	    
	    &:before {
	    	content: '*'; //add font-awesome charset code
	    	color: $primary-blue;
	    	padding-right: 5px;
	    }
	    
	    a:active, a:focus {
		    text-decoration: none;
	    }
	    
    }
    
}

/* Specific Interior Page Styles
================================================== */
/* About Page Styles
================================================== */
#page-body {
	padding: 60px;
	background: white;
}
#page-content-wrapper {
	position: relative;
    width: 100%;
    padding: 20px;
}
.left-15 {
	margin-left: 15px;
}

/* Executive Team Page Styles
================================================== */
section.team {
	
	.row.two {
		padding-top: 20px;
	}
	
	img {
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: .5s ease-in-out;
	    -moz-filter: grayscale(100%); 
	    -moz-transition: .5s ease-in-out;
	    -o-filter: grayscale(100%); 
	    -o-transition: .5s ease-in-out;
	  
	    &:hover {
		    -webkit-filter: grayscale(0%);
		    -webkit-transition: .5s ease-in-out;
		    -moz-filter: grayscale(0%);
		    -moz-transition: .5s ease-in-out;
		    -o-filter: grayscale(0%);
	        -o-transition: .5s ease-in-out;  
	    }
	  
	}
	
		
}

