/* Responsive Styles
================================================== */
$screen-lg: 1200px;
$screen-md: 992px; 
$screen-sm: 768px; //nav collapse breakpoint
$screen-xs: 480px; 

/* 1600 and above */
@media (min-width: 1600px) {

}

/* 1200 and above */
@media (min-width: $screen-lg) {

}

/* Below 1024 */
@media (max-width: 1024px) {
	.sidebar {
		padding: 15px 10%;
	}
}

/* Below 992 */
@media (max-width: $screen-md) {

	.sign-in {
		float: right;
	}
	
	.two-panels > div {
		padding: 40px;
		
		input.form-control {
			width: 160px;
		}
	}
}

/* Below 850 */
@media (max-width: 850px) {
	.branch {
		display: none;
	}
	
	.two-panels {
		border-top: 4px solid $secondary-blue;
		
		> div {
			width: 50%;		
			
			> div {
				width: 100%;
			}
			
			+ div {
				margin: 0;
			}
		}
		.push-right {
			float: none;
		}
	}
	
	.home::before{
		display: none;	
	}
	
	.two-panels-2 {
		border: none;
	}
}

/* 768 and above: nav collapse */
@media (min-width: $screen-sm) {

	.container {
		max-width: 1060px; //override bootstrap default
	}
	.bbb {
	
	}
	.demotech {
		margin-top: -10px;
	}
	.enterprise {
		margin-top: -17px;
	}
	.faia {
		margin-left: 10px;
	}
	.ceo .col-md-4.col-sm-4 {
		width: 323px;
		height: 300px;
		
		img {
			display: none;
		}		
	}
	.top-bar .sign-in .get-quote-2 {
		display: none;
	}
		
}

/* Below 768: nav collapse */
@media (max-width: $screen-sm) {
	.top-bar {
		.sign-in .agent {
			display: none;
		}
		.text-sizing {
			display: none;
		}
	}
	
	.navbar-brand {
		padding: 6px 15px 0;
		margin-bottom: -5px;
	}
	
	.navbar-brand .logo {
		width: 175px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.pti .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	nav.navbar-collapse.in {
		background: $secondary-blue;
	}
	
	.navbar-nav {
		margin: 7.5px 0;
		float: none;
			
		li > a {
			padding: 0 10px;
		}
		
	}
	
	.navbar-collapse{
		background: $primary-blue;
		margin-top: 10px;
	}

	.navbar-collapse ul.navbar-nav > li > a{
		color: white;
	}
	
	.dropdown-menu{
		top: 0;
		padding: 0!important;
		
		ul {
			margin: 0;
			background: none;
			border: 0;
			box-shadow: none;
		}
		
		li a {
			color: white!important;
		}
		
		&:hover, &:focus, .active {
			color: white!important;
		}
		
	}
	
	.nav > li.megamenu .dropdown-menu {
		margin-top: 0;
		padding: 0px 20px!important;
		
		ul {
			padding: 0;
		}
	}
	
	.border-left {
		border: none;
	}
	
	#sidebar-wrapper {
		padding: 10px 0px;
		margin-bottom: 0;
	}
	
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.no-padding {
		//padding: 20px; //add padding back on small screens
	}
	
	// interior sidebar collapse
	
	.main-content {
		width: calc(100% - 30px);
		transition: all 0.6s;
		
		&.open {
			transform: translateX(340px);
			filter: blur(3px);
			box-shadow: -3px 0px 30px 1px rgba(black, 0.2);
			cursor: pointer;
		}
	}
	
	.sidebar-wrapper {
		width: 370px;
		max-height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch; // enable smooth, elastic scrolling on iOS
		overflow-x: hidden;
		margin-left: 30px;
		padding-top: 140px;
		transform: none;
		
		&::-webkit-scrollbar {
			display: none;
		}	
	}
	
	.header-fixed + .interior-page > .sidebar-wrapper {
		transform: none;
		padding-top: 50px;
	}
	
	.sidebar {
		padding: 15px 20% 15px 5%;
	}
	
	#js-open-sidebar {
		display: inline-block;
		position: fixed;
		top: 165px; 
		left: 10px;
		cursor: pointer;
		color: lighten($brand-black, 30%);
		transition: all 0.6s;
		
		&.flip180 {
			transform: rotateZ(180deg);
			color: $brand-black;
		}
	}
	
	.header-fixed + .interior-page > #js-open-sidebar {
		top: 80px;
	}
}

/* 605 and below */
@media (max-width: 605px) {
	.two-panels {
		display: block;	

		> div {
			width: 100%;
			border-bottom-left-radius: 0;		
			border-bottom-right-radius: 0;		
			
			+ div {
				border-radius: 0 0 40px 40px / 0 0 25px 25px;
			}
		}
	}
	
	.two-panels-2 > div{
		border-radius: 40px 40px 0 0 / 25px 25px 0 0;	
	}
	
	.top-bar .call-us > span {
		display: none;
	}
}

/* 480 and below */
@media (max-width: $screen-xs) {
	.top-bar {
		.sign-in .policy {
			display: none;
		}
		.container {
			justify-content: space-around;
		}
	}
	
}
