/* Responsive Styles
================================================== */
$screen-lg: 1200px;
$screen-md: 992px; 
$screen-sm: 768px; //nav collapse breakpoint
$screen-xs: 480px; 

/* 1600 and above */
@media (min-width: 1800px) {
	.main-content {
		float: none !important;
		margin: auto;
		width: 1000px;
	}
	.sidebar-wrapper {
		left: 30%;
		left: calc(50% - 850px);
	}
}

/* 1200 and above */
@media (min-width: $screen-lg) {

}

/* Below 1024 */
@media (max-width: 1024px) {
	.image-cycle {
		height: 0;
		padding-bottom: 50%;
		font-size: 0.9em;
	}
	
	.btn {
		//padding: 7px 12px;
	}
	
	.sidebar {
		padding: 15px 10%;
	}
	.get-quote {
		margin: 26px 0 0 5px;
	}
	.search {
		.search-field {
			width: 114px;
			text-indent: 3px;	
		}
		.search-submit {
			padding: 8px 12px;
		}
		form {
			width: 155px;
		}
	}
	.search-slide {
		transform: translateX(-147px);
	}
	
}

/* Below 992 */
@media (max-width: $screen-md) {

	.sign-in {
		float: right;
	}
	
	.two-panels > div {
		padding: 40px;
		
		input.form-control {
			width: 160px;
		}
	}
}

/* Below 933 */
@media (max-width: 933px) {
	.image-cycle {
		font-size: 0.8em;	
	}
	.quotable {
		top: 10%;
		left: 5%;	
	}
	
	.footer-right .row > div:nth-child(3) {
		border: none;
	}
	.footer-address {
		margin-top: 56px;
	}
	.page-intro {
		padding: 140px 45px 45px 45px;
	}
	#page-body {
		padding: 30px;
	}
}

/* Below 850 */
@media (max-width: 850px) {
	.navbar-nav > li > a {
		padding: 20px 22px 20px 5px;
	}
	
	.nav .dropdown > a > i {
		right: 5px;	
	}
	.image-cycle {
		font-size: 0.7em;
	}
	.branch {
		display: none;
	}
	
	.two-panels {
		border-top: 4px solid $secondary-blue;
		
		> div {
			width: 50%;		
			
			> div {
				width: 100%;
			}
			
			+ div {
				margin: 0;
			}
		}
		.push-right {
			float: none;
		}
	}
	
	.home::before{
		display: none;	
	}
	
	.two-panels-2 {
		border: none;
	}
}

/* 768 and above: nav collapse */
@media (min-width: $screen-sm) {
	.container {
		max-width: 1060px; //override bootstrap default
	}
	.bbb {
	
	}
	.demotech {
		margin-top: -10px;
	}
	.enterprise {
		margin-top: -17px;
	}
	.faia {
		margin-left: 10px;
	}
	.ceo img {
		display: none;		
	}
	.top-bar .sign-in .get-quote-2 {
		display: none;
	}
	.mobile-search {
		display: none;
	}
	.navbar > .container .navbar-brand {
		margin-left: 0;
	}
}

/* Below 768: nav collapse */
@media (max-width: $screen-sm) {
	.top-bar {
		.sign-in .agent {
			display: none;
		}
		.text-sizing {
			display: none;
		}
	}
	.navbar-header {
		display: flex;
		justify-content: space-between;
		
		&::before, &::after {
			display: none;
		}
	}
	.mobile-search {
		
		i {
			color: white;
			font-size: 1.5em;
			padding: 38px 25px 37px 15px;
			cursor: pointer;
			transition: padding 0.6s;
		}
	}
	.navbar-brand {
		padding: 2px 0 0 0;
		margin-bottom: -5px;
	}
	
	.pti .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	nav.navbar-collapse {
		display: none; //in favor of mobile nav
	}
	.image-cycle {
		height: auto;
		padding: 0;
	}
	.image-cycle .carousel-inner .main img {
		margin: 0 auto;
		padding-top: 15%;
	}
	.image-cycle .carousel-inner .item {
		height: 0;
		padding-bottom: calc(50% + 176px);
	}
	.image-cycle .carousel-inner img {
		top: -10%;
	}
	.ruben img {
		top: -20% !important;
	}
	.quotable.quotable.quotable {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		animation: none;
		transition: opacity 0.6s;
		width: 100%;
		background: white;
		top: auto;
		padding: 1.8em;
	}
		
	.border-left {
		border: none;
	}
	.footer-insurance-choices {
		border: none !important;
	}
	
	#sidebar-wrapper {
		padding: 10px 0px;
		margin-bottom: 0;
	}
	
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.no-padding {
		//padding: 20px; //add padding back on small screens
	}
	.interior-right-sidebar {
		border-left: none;
		border-top: 1px solid #eee;
		margin-top: 15px;
		padding-top: 15px;	
	}
	
	// interior sidebar collapse
	
	.main-content {
		width: calc(100% - 30px);
		-webkit-overflow-scrolling: touch;
		transition: all 0.6s;
		
		&.open {
			transform: translateX(340px);
			filter: blur(3px);
			box-shadow: -3px 0px 30px 1px rgba(black, 0.2);
			cursor: pointer;
			
			~ .sidebar-wrapper {
				-webkit-overflow-scrolling: touch; // enable smooth, elastic scrolling on iOS
				opacity: 1;
				transition: opacity 0.3s;
			}
			
			~  #js-open-sidebar {
				transform: translateY(165px) rotateZ(180deg);
				color: $brand-black;
			}
		}
	}
	
	.sidebar-wrapper {
		width: 370px;
		max-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		margin-left: 30px;
		padding-top: 140px;
		transform: none;
		opacity: 0;
		transition: opacity 0.3s 0.6s;
		
		&::-webkit-scrollbar {
			display: none;
		}	
	}
	
	.header-fixed ~ .interior-page > .sidebar-wrapper {
		transform: none;
		padding-top: 50px;
	}
	
	.sidebar {
		padding: 15px 20% 15px 5%;
	}
	
	#js-open-sidebar {
		display: inline-block;
		position: fixed;
		width: 30px;
		text-align: center;
		left: 0;
		top: 0;
		transform: translateY(165px); 
		cursor: pointer;
		color: lighten($brand-black, 30%);
		transition: all 0.6s;
		
	}
	
	.header-fixed ~ .interior-page #js-open-sidebar {
		transform: translateY(80px);
	}
	
	.header-fixed ~ .interior-page .main-content.open ~ #js-open-sidebar {
		transform: translateY(80px) rotateZ(180deg);	
	}
	
	.navbar-toggle {
		margin: 0;
		padding: 38px 15px 37px 25px;
		transition: padding 0.6s;
		
		&:focus {
			outline: none;
		}
	}
	.mobile-search-form {
		position: absolute;
		background: rgba(white, 0.75);
		transform: translateX(-100%);
		margin-left: -15px;
		padding: 5px;	
		border-bottom-right-radius: 3px;
		transition: all 0.6s;
		
		.search-field {
			-webkit-appearance: none;
			width: 165px;
			padding: 5px;
			text-indent: 5px;
			border-top-left-radius: 9px !important;
			border-bottom-left-radius: 9px !important;
			background-color: lighten($brand-grey, 13%);
			border: 2px solid lighten($brand-grey, 13%);
			transition: all 0.3s;
			
			&:focus {
				background-color: white;
				outline: 0 none;
				border-color: $brand-green;
			}
		}
		
		.search-submit {
			-webkit-appearance: none;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
			padding: 8px 18px;
			margin-top: -2px;
			margin-left: -10px;
		}
		
		&.opened {
			transform: translateX(0);
			opacity: 1;
		}
	}
	
	.header-fixed {
		.navbar-toggle {
			padding: 20px 15px 19px 35px;
		}
		.mobile-search i {
			padding: 20px 35px 19px 15px;
		}
	}
	.two-panels > div {
		border-radius: 0;
		
		+ div {
			border-radius: 0;		
		}	
	}
	.carousel-1 {
	
		.carousel-inner {
			margin: 0;
		}

		&.blue-tint {
			.img-overlay {
				background-color: transparent;
				
				img {
					opacity: 1;
				}
			}
		}
	}
	.carousel-control {
		opacity: 0;
	}
	.carousel-caption {
		position: relative;
		left: auto;
		right: auto;
		padding: 0 15px 48px 15px;
		margin-bottom: -18px;
		background: $secondary-blue;
		
		h1 {
			color: white;
			font-weight: 100;
			text-shadow: none;
			font-size: 2em;
			margin-top: 0;
			padding-top: 0.5em;
		}		
	}
	.carousel-2 .carousel-caption {
		width: 100%;
		border-radius: 0;
		left: auto;
		right: auto;
		padding: 0 0 48px 0;
		background: $secondary-blue;
		
		h1 {
			
		}
	}
	.carousel-indicators {
		bottom: 0;
	}
	
	.footer-ph, .footer-address {
		padding: 0;
		margin-top: 20px;
		text-align: center;
	}
	
	.footer-ph {
		font-size: 1.75em;
	}
	.footer-right {
		margin-top: 30px;
	}
	.footer-left > p {
		padding-bottom: 20px;
		border-bottom: 2px solid darken($primary-blue, 7%);
	}
}

/* 605 and below */
@media (max-width: 605px) {
	.two-panels {
		display: block;	

		> div {
			width: 100%;
		}
	}
		
	.top-bar .call-us > span {
		display: none;
	}
	.copyright .row {
		margin: 0 0 40px 0;
	}
	#top {
		left: calc(50% - 28.5px);
		bottom: 0;
		opacity: 1;
	}
	.image-cycle {
		font-size: 0.6em;
	}
	.image-cycle .carousel-inner .main img {
		width: 73%;
	}
}

/* 480 and below */
@media (max-width: $screen-xs) {
	.top-bar {
		.sign-in .policy {
			display: none;
		}
		.container {
			justify-content: space-around;
		}
	}
	.image-cycle {
		font-size: 0.5em;
	}
	.col-xxs-12 {
		width: 100%;
		
		img {
			width: 100%;
		}
	}
	.page-intro {
		padding: 140px 15px 25px 15px;
	}
}
