/* filters list */
.filter-container {
	
	ul {
		margin: 30px 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		
		li {
			display: inline;
		}
		
		li a {
			padding: 10px;
			
			color: $primary-blue;
			font-weight: 700;
			
			&:hover {
				background: $primary-blue;
				color: white;	
			}
		}
		
		.is-checked {
			background: $primary-blue;;
			color: white
		}
		
	}
	
}



/* isotope */
.isotope {
  transition-property: height, width;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
.centered { 
  margin: 30px auto; 
  max-width: 100%;
}

.isotope .isotope-item {
  transition-property: transform, opacity;
}

.isotope,
.isotope .isotope-item {
   transition-duration: 0.5s;
}
 
 
/* These styles ensure that hidden items will not interfere with interactions. */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* .review-item */
.review-item {
  position: relative;
  float: left;
  width: 156px;
  height: 156px;
  margin: 5px;
  padding: 0;
  color: white;
  opacity: 0.9;
  
  img {
	  height: 100%;
  }
}

.review-item.width2 { 
	width: 322px; 
}
.review-item.height2 { 
	height: 322px; 
	
}

.review-item > * {
  margin: 0;
  padding: 0;
}

.review-item p {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}

.isotope > .message:nth-child(3n-2) { background: $primary-blue; }
.isotope > .message:nth-child(3n-1) { background: $brand-green; }
.isotope > .message:nth-child(3n) { background: $brand-grey; }

.isotope > .social:nth-child(3n-2) { background: $primary-blue; }
.isotope > .social:nth-child(3n-1) { background: $brand-green; }
.isotope > .social:nth-child(3n) { background: $brand-grey; }

.isotope > .video:nth-child(3n-2) { background: $primary-blue; }
.isotope > .video:nth-child(3n-1) { background: $brand-green; }
.isotope > .video:nth-child(3n) { background: $brand-grey; }


/* responsive tweaks, add to responsive.scss when done */
@media (max-width: 850px) {

	.review-item.height2 {
		height: 156px;
	}
	
}	

@media (max-width: 480px) {

	.review-item.width2{
		width: 156px;
	}
	
}



/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: $brand-black;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}

#colorbox {
  outline: 0;
  height: auto;
}

#cboxContent {
  margin: 35% auto;
  background: transparent;
  color: white;
  
  p {
	  color: white;
	  font-size: 1.3em;
	  font-weight: 400;
  }
  
}

.cboxIframe {
  background: transparent;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: transparent;
  padding: 0 120px;
  overflow: hidden!important;
  height: auto!important;
}

#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: white;
}

#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: white;
}

#cboxLoadingGraphic {
  background: url("../images/loading.gif") no-repeat center center;
}

    
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: white;
}

#cboxPrevious{
	position: absolute; 
	top: 60%; 
	left: 5px; 
	margin-top: -32px;
	padding: 20px;
	font-size: 20px;
	background: transparent;
	border: 2px solid white;
	border-radius: 50%;
}
 
#cboxNext{
	position: absolute; 
	top: 60%; 
	right: 5px; 
	margin-top: -32px;
	padding: 20px;
	font-size: 20px;
	background: transparent;
	border: 2px solid white;
	border-radius: 50%;
}

#cboxClose {
    position: absolute;
    top: -80px;
    right: 5px;
    display: block;
    padding: 20px;
	font-size: 20px;
	background: transparent;
	border: 2px solid white;
	border-radius: 50%;
}

#cboxPrevious, #cboxNext, #cboxClose {

	&:hover {
		border: 2px solid $primary-blue;
		color: $primary-blue;
		opacity: 0.8;
	}
		
}

