.opacity-0 {
	visibility: hidden !important;
}

#top-bar .container {
	text-align: center;
	vertical-align: top ;
	
	div {
		display: inline-block;	
		
		+ div {
			margin-left: 23%;
		}
	}
	
}

.top-bar .btn {
	line-height: 19px;
}

.two-panels {
	display: table;
	
	> div {
		display: table-cell;
		min-height: 495px;
	}
}

.two-panels-2 > div {
	min-height: 463px;
}

.carousel-control {
	filter: none !important;
}

.footer-right > .row > div {
	width: 33% !important;
	float: left;
}

.copyright .container {
	text-align: center;
	
	> .row {
		display: inline-block;
		margin: auto;
	}
}

.sidebar-nav li a.active {
	background: #0780E2;
}